.play-container {
  background-color: red;
  height: calc(100% - 64px);
  /*width: 100%;*/
  /*height: 100%;*/
}

.teams-left-pane {
  background-color: yellow;
}

.teams-right-pane {
  background-color: blue;
}

.questions-pane {
  background-color: green;
  position: relative;
}


