.score {
  position: relative !important;
}

mat-card.scores {
  max-width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.score-entry {
  margin: .6em 0;
  display: block;
}

.placed-1 {
  font-size: xxx-large;
}

.placed-2 {
  font-size: xx-large;
}

.placed-3 {
  font-size: x-large;
}
.placed {
  font-size: large;
}
