@if (isQuestionExisting()) {
  <mat-card-header>
    <mat-card-title>Frage {{getCurrentQuestionNumber()}}/{{getTotalQuestionNumber()}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{getQuestionText()}}
    @if (isMaster && question.mediaDetails) {
      <app-media-remote [media]="question.mediaDetails"></app-media-remote>
    }
    <div class="videooptions">
      @if (question.mediaDetails && !isMaster) {
        <div class="bottom">
          <app-media-question [media]="question.mediaDetails"></app-media-question>
        </div>
      }
      <div class="top">
        @if (showAnswers) {
          <mat-grid-list cols="2" rowHeight="2:1">
            @for (answer of getAnswers(); track answer; let i = $index) {
              <mat-grid-tile>
                <button id="button{{i}}" mat-raised-button (click)="onClickAnswer(answer, $event.currentTarget)">
                  {{answer.text}}
                </button>
              </mat-grid-tile>
            }
          </mat-grid-list>
        }
      </div>
    </div>
  </mat-card-content>
}
