<ng-template [ngIf]="isQuestionExisting()">
  <mat-card-header>
    <mat-card-title>Frage {{getCurrentQuestionNumber()}}/{{getTotalQuestionNumber()}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{getQuestionText()}}
    <mat-grid-list cols="2" rowHeight="2:1" *ngIf="isShowAnswers()">
      <mat-grid-tile *ngFor="let answer of getAnswers(); let i = index">
        <button id="button{{i}}" mat-raised-button (click)="onClickAnswer(answer, button._getHostElement())" #button>{{answer.text}}</button>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</ng-template>
