mat-card-header {
  font-size: xxx-large;
}

mat-card-content {
  font-size: xx-large;
}

mat-grid-list {
  margin-top: 1em !important;
}

mat-grid-tile {
  /*padding: 50px;*/
}

button {
  height: 95%;
  width: 90%;
  box-sizing: content-box;
  font-size: xx-large;
  transition: background-color 500ms ease-in;
  white-space: normal;
}

.logged-in {
  background-color: aqua;
}

.wrong {
  background-color: orangered;
}

.correct {
  background-color: forestgreen;
}


.videooptions {
  display: grid;
}

.top, .bottom {
  grid-area: 1 / 1;
}

.top {
  /*opacity: 0.5;*/
}
