<div class="media-control-button-row">
  <button mat-icon-button aria-label="Play" (click)="play()" *ngIf="!isPlaying()" title="Video auf allen Anzeigegeraeten fortsetzen">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-icon-button aria-label="Pause" (click)="pause()" *ngIf="isPlaying()" title="Video auf allen Anzeigegeraeten pausieren">
    <mat-icon>pause</mat-icon>
  </button>
  <button mat-icon-button aria-label="Replay" (click)="replay()" title="Video auf allen Anzeigegeraeten von vorne beginnen">
    <mat-icon>replay</mat-icon>
  </button>
  <button mat-icon-button aria-label="Skip" (click)="skip()" *ngIf="isNotFinished()" title="Zum Ende springen">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>
