<form [formGroup]="questionConfig">
  <h3>Initial Question State</h3>
  <mat-button-toggle-group name="questionState" aria-label="Question State" formControlName="questionState">
    <mat-button-toggle *ngFor="let option of questionAnswerOptions" [value]="option.key">{{option.label}}</mat-button-toggle>
  </mat-button-toggle-group>

  <h3>Initial Media State</h3>
  <mat-button-toggle-group name="mediaState" aria-label="Media State" formControlName="mediaState">
    <mat-button-toggle *ngFor="let option of mediaOptions" [value]="option.key">{{option.label}}</mat-button-toggle>
  </mat-button-toggle-group>

  <h3>Initial Answer State</h3>
  <mat-button-toggle-group name="answerState" aria-label="Answers State" formControlName="answerState">
    <mat-button-toggle *ngFor="let option of questionAnswerOptions" [value]="option.key">{{option.label}}</mat-button-toggle>
  </mat-button-toggle-group>
</form>


