<mat-toolbar color="primary">
  <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>-->
  <span>{{getName()}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <a mat-icon-button (click)="resetServer()" ><mat-icon>restart_alt</mat-icon></a>
  </button>
  <ng-container *ngIf="showSaveIcon">
    <button mat-icon-button>
      <a mat-icon-button [href]="exportGameState()" [download]="getDownloadFileName()"><mat-icon>save</mat-icon></a>
    </button>
  </ng-container>
</mat-toolbar>
