.play-container {
  height: calc(100% - 64px);
}

.teams-left-pane {
}

.teams-right-pane {
}

.questions-pane {
  position: relative;
}

mat-card.question {
  /*width: 95%;*/
  margin: 5px auto;
  /*position: absolute;*/
  /*bottom: 1em;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, 8%);*/
}

.parent {
  position: relative;
}

.spacer {
  flex: 1 1 auto;
}


