<div class="play-container">
  @if (!isGameOver) {
    <div class="teams-left-pane">
      @for (team of getTeams(); track team; let even = $even) {
        @if (even) {
          <app-team-card [team]="team" [isMaster]="isMaster"></app-team-card>
        }
      }
    </div>
    <div class="questions-pane">
      <div class="parent">
        <mat-card class="question">
          <app-question-pane [question]="currentQuestion" [isMaster]="isMaster"></app-question-pane>
          <mat-card-actions>
            @if (isMaster) {
              <button mat-button [disabled]="!hasPreviousQuestion()" (click)="getPreviousQuestion()" title="Springe zur vorherigen Frage">Vorherige Frage</button>
            }
            @if (isMaster) {
              <button mat-button [disabled]="!hasNextQuestion()" (click)="getNextQuestion()" title="Springe zur nächsten Frage">Nächste Frage</button>
            }
            <span class="spacer"></span>
            <!--            TODO: move this button to the right. Also, show dialog to confirm it-->
            @if (isMaster) {
              <button mat-button (click)="endGame()" title="Beende das Spiel und zeige das gewinnende Team an">Spiel Beenden</button>
            }
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="teams-right-pane">
      @for (team of getTeams(); track team; let odd = $odd) {
        @if (odd) {
          <app-team-card [team]="team" [isMaster]="isMaster"></app-team-card>
        }
      }
    </div>
  }
  @if (isGameOver) {
    <!--<mat-card class="scores">
    <mat-card-header>
      <mat-card-title>Punkteliste</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="score">
        <div *ngFor="let team of getTeamsOrderedByScore(); let i = index;">
          <span class="score-entry placed{{(i + 1) <= 3 ? '-' + (i + 1) : ''}}">{{i + 1}}. {{team.name}}: {{team.points}} Pkt.</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isMaster">
      <button mat-button (click)="resetServer()" *ngIf="isMaster" title="Spiel beenden und zum Startbildschirm zurückkehren">Spielsession beenden</button>
    </mat-card-actions>
  </mat-card>-->
  <app-score-board [isMaster]="isMaster"></app-score-board>
}
</div>
