<mat-card class="team-card" [class.marked]="isMarked">
  <mat-card-header>
    <mat-card-title>{{getName()}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Punkte: {{getPoints()}}
    </p>
  </mat-card-content>
  @if (isMaster) {
    <mat-card-actions>
      <button mat-button (click)="addPoint()">+1</button>
      <button mat-button (click)="removePoint()" [disabled]="getPoints() == 0">-1</button>
      <!--    TODO: take care of this later-->
      <!--    <button mat-button (click)="markTeamInvert()">{{isMarked ? "Unm" : "M"}}arkiere Team</button>-->
    </mat-card-actions>
  }
</mat-card>
