<div id="container" class="center-center" *ngIf="isConnected$ | async; else waitForConnectionLoader">
  <div id="buzzer-buttons-container">
    <div
      *ngFor="let item of [].constructor(NUMBER_OF_BUZZERS); let i = index;"
      class="buzzer-button" (mousedown)="sendBuzzerPress(i)"
    >
      {{ i+1 }}
    </div>
  </div>
  <div id="release-lock-button-container">
    <mat-button-toggle id="release-lock-button" (mousedown)="sendReleaseLockButtonPress()">Release Lock</mat-button-toggle>
  </div>
</div>

<ng-template #waitForConnectionLoader>
  <app-loading-spinner text="Warte auf Verbindung zu Server!"></app-loading-spinner>
</ng-template>
