<app-toolbar-master></app-toolbar-master>
<mat-horizontal-stepper linear="true">
  <mat-step>
    <ng-template matStepLabel>Hallo!</ng-template>
    <p>Hallo und herzlichen willkommen zum Setup von <b>{{getGameName()}}</b>!</p>
    <p>Wenn du ein Vorbereitetes Quiz oder einen alten Spielstand importieren willst, nutze die <em>Importieren</em> Schaltfläche.</p>
    <app-file-upload-form (data)="onSaveGameFileSelected($event)"></app-file-upload-form>
    <p>Wenn du ein neues Spiel vorbereiten willst, klicke unten auf <em>Weiter</em>.</p>
    <div>
      <button mat-button matStepperNext>Weiter</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="teamsFormGroup">
    <ng-template matStepLabel>Teams</ng-template>
<!--    <ng-template matStepContent>-->
<!--    <ng-template [ngIf]="teamFormControlNames != null">-->
<!--    <ng-template>-->
      <p>Waehle die Teams</p>
      <form [formGroup]="teamsFormGroup">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let teamFormControlName of teamFormControlNames; let i = index">
            <mat-icon mat-list-icon>people</mat-icon>
            <mat-form-field>
              <mat-label>{{teamNameSuggestions[i]}}</mat-label>
              <input matInput [placeholder]="'Name für ' + teamNameSuggestions[i]" [formControlName]="teamFormControlName" required #textbox>
            </mat-form-field>
            <mat-checkbox #checkbox (change)="onChangeTeamCheckbox(checkbox, textbox, teamFormControlName)" [checked]="true" *ngIf="i >= 2">Aktivieren</mat-checkbox>
          </mat-list-item>
        </mat-list>

        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext [disabled]="!teamsFormGroup.valid">Weiter</button>
        </div>
      </form>
<!--    </ng-template>-->
  </mat-step>
<!--  <mat-step [stepControl]="questionsFormGroup" label="Fragen">-->
  <mat-step [stepControl]="testObs | async" label="Fragen">
<!--    <ng-template [ngIf]="showQuestions">-->
<!--    <ng-template>-->
      <form #questionForm [formGroup]="questionsFormGroup" id="questionForm">
<!--    <form #questionForm [formGroup]="testObs | async" id="questionForm">-->
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel hideToggle *ngFor="let questionFormGroupName of questionFormGroupNames; let i = index" [expanded]="step === i" (opened)="setStep(i)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Frage {{i + 1}}
              </mat-panel-title>
              <mat-panel-description>
                fd
                <mat-icon *ngIf="questionsFormGroup.controls['question' + i] && questionsFormGroup.controls['question' + i].valid">check_circle</mat-icon>
              </mat-panel-description>

            </mat-expansion-panel-header>

            <div fxLayout="row" fxLayoutAlign="start none" [formGroupName]="questionFormGroupName">
              <mat-form-field >
                <mat-label>Fragetext</mat-label>
                <textarea matInput formControlName="text" cdkTextareaAutosize class="question"></textarea>
              </mat-form-field>
              <mat-checkbox formControlName="answersVisible" #self (click)="toggleShowAnswers(self, questionFormGroupName)">Zeige Antwortmöglichkeiten</mat-checkbox>
              <!--          <button mat-raised-button>Frage entfernen</button>-->
            </div>
            <div fxLayout="row" fxLayoutAlign="start none" [formGroupName]="questionFormGroupName">
<!--                <button mat-stroked-button color="primary" (click)="selectData()">Medium hinzufuegen</button>-->
              <app-select-media (location)="changeMediaSelection({path: $event, question: i})"></app-select-media>
                <mat-form-field>
                  <mat-label>Media Source</mat-label>
                  <textarea matInput formControlName="mediaSrc" cdkTextareaAutosize class="question"></textarea>
                </mat-form-field>
              </div>
              <!--          <button mat-raised-button>Frage entfernen</button>-->
            <div class="answers" fxLayout="column" fxLayoutAlign="center start" [formGroupName]="questionFormGroupName">
              <div formGroupName="answers">
                <!--            first answer-->
                <div fxLayout="row" fxLayoutAlign="start none" formGroupName="answer0">
                  <mat-form-field>
                    <mat-label>Antwort 1</mat-label>
                    <input matInput formControlName="text">
                  </mat-form-field>
                  <mat-checkbox #checkbox formControlName="isCorrect">Richtige Antwort</mat-checkbox>
                </div>
                <!--            second answer-->
                <div fxLayout="row" fxLayoutAlign="start none" formGroupName="answer1">
                  <mat-form-field>
                    <mat-label>Antwort 2</mat-label>
                    <input matInput formControlName="text">
                  </mat-form-field>
                  <mat-checkbox #checkbox formControlName="isCorrect">Richtige Antwort</mat-checkbox>
                </div>
                <!--            third answer-->
                <div fxLayout="row" fxLayoutAlign="start none" formGroupName="answer2">
                  <mat-form-field>
                    <mat-label>Antwort 3</mat-label>
                    <input matInput formControlName="text">
                  </mat-form-field>
                  <mat-checkbox #checkbox formControlName="isCorrect">Richtige Antwort</mat-checkbox>
                </div>
                <!--            fourth answer-->
                <div fxLayout="row" fxLayoutAlign="start none" formGroupName="answer3">
                  <mat-form-field>
                    <mat-label>Antwort 4</mat-label>
                    <input matInput formControlName="text">
                  </mat-form-field>
                  <mat-checkbox #checkbox formControlName="isCorrect">Richtige Antwort</mat-checkbox>
                </div>
              </div>
            </div>
            <mat-action-row>
              <button mat-button color="primary" (click)="addQuestionToFormGroup()">Add Question</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        <!--<button mat-raised-button (click)="addQuestionToFormGroup()">Frage hinzufügen</button>-->

        <div>
          <button mat-button matStepperPrevious>Zurück</button>
          <button mat-button matStepperNext [disabled]="!questionsFormGroup.valid">Weiter</button>
        </div>
      </form>
<!--    </ng-template>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fertig</ng-template>
    <!-- <ng-template matStepContent> -->
      <p>Das Spiel wurde konfiguriert. Es spielen <b>{{getNumberOfActiveTeams()}} Team(s)</b> und es gibt <b>{{getNumberOfQuestions()}} Frage(n)</b>.</p>
      <div>
        <button mat-button matStepperPrevious>Zurück</button>
        <a mat-button (click)="hasReachedLastStep = true" [href]="downloadSetupAsJson()" download="buzzer-game-setup.json">Konfiguration Herunterladen</a>
        <button mat-button (click)="startGame()">Spiel starten</button>
      </div>
    <!-- </ng-template> -->
  </mat-step>
</mat-horizontal-stepper>

